* {
  box-sizing: border-box;
}

:root {
  --color-text: #f3f3f3;
  --color-background: #161414;
  --color-link: #56b3ff;
  --color-social: #fa8955;
}

body {
  display: flex;
  margin: 0px;
  padding: 0px 2rem;
  height: 100vh;
  
  font-family: monospace;
  user-select: none;
  
  color: var(--color-text);
  background-color: var(--color-background);
}

noscript {
  font-size: 1em;
}

section {
  font-size: max(1.2em, 2vw);
  padding: 0px .5em;
}

article {
  font-size: .8em;
  text-align: justify;
  max-width: 55em;
  user-select: text;
  margin: auto;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-text);
}

a,
a:visited,
a:link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-background);
  background-color: var(--color-link);
}

.social,
.social:visited,
.social:link {
  color: var(--color-social);
}

.social:hover {
  color: var(--color-background);
  background-color: var(--color-social);
}

.picture {
  display: block;
  height: 80vh;
}

.slide-in {
  opacity: 0;
  animation: slide-in .4s forwards;
}

.center {
  grid-auto-flow: column;

  margin: auto;
  display: grid;
  align-items: center;
  justify-content: space-around;
  gap: 4vw;
}

.center-row {
  grid-auto-flow: row;

  margin: auto;
  display: grid;
  align-items: center;
  justify-content: space-around;
  gap: 4vw;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 680px) {
  .center {
    grid-auto-flow: row;
  }
  .picture {
    display: none;
  }
}