* {
  box-sizing: border-box;
}

:root {
  --color-light: #fff;
  --color-dark: #111;
}

#light-theme {
  --color-fg: var(--color-light);
  --color-bg: var(--color-dark);
}

#light-theme:target {
  --color-fg: var(--color-dark);
  --color-bg: var(--color-light);
}

::-webkit-scrollbar {
  border-left: 1px solid var(--color-fg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-fg);
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
  margin: 0px;
  height: 100vh;

  font-family: monospace;
  font-size: large;
}

header {
  display: flex;
  justify-content: end;

  width: 100%;

  position: fixed;
  top: 0px;

  z-index: 9999;
}

section {
  padding: 2rem clamp(1rem, 10vw, 50rem);
  border-bottom: 1px solid var(--color-fg);
}

img {
  user-select: none;
  box-shadow: 0px 0px 0px var(--color-fg);
  transition: transform .2s, box-shadow .2s, rotate .2s;
}

img:hover,
img:active {
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px 0px var(--color-fg);
}

a,
a:visited,
a:focus {
  padding: .4rem;
  color: inherit;
  text-decoration: none;
}

header a {
  background-color: var(--color-bg);
}

a:hover {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

a.inverted:hover {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.profile-picture {  
  width: min(10rem, 20vw);
}

.welcome-section {
  min-height: 90vh;
}

.links-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  color: var(--color-bg);
  background-color: var(--color-fg);
}

.project {
  display: flex;  
  gap: 2rem;
  
  padding: 1rem 0px;
}

.project-preview {
  width: 40%;
  float: inline-start;

  image-rendering: optimizeSpeed;
  object-fit: cover;

  user-select: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.align-right {
  text-align: right;
}

@media (max-width: 600px) {
  header {
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-bg);
    min-height: 3rem;
  }

  .project-preview {
    width: 100%;
    height: inherit;
  }

  .project {
    display: block;
    border-top: 1px solid var(--color-fg);
  }
}

#secret-strawberry-theme:target {
  --color-fg: #253;
  --color-bg: #fbb;
  font-family: cursive;
}

#secret-strawberry-theme:target a:hover {
  color: #fff;
  background-color: #e35;
  border-radius: 6px 0px 6px 0px;
}

#secret-strawberry-theme:target img {
  border-radius: 6px 0px 6px 0px;
  transition: all .2s;
}

#secret-strawberry-theme:target img:is(:hover, :active) {
  box-shadow: 4px 4px 0px #e35;
  rotate: 1deg;
}

#secret-strawberry-theme:target .links-section {
  background-color: #253;
}