.oldManSpeech {
  user-select: none;
}

.floatingSword {
  cursor: pointer;
  user-select: none;
  animation: floating 4s running infinite, wobble 12s running infinite;
  filter: drop-shadow(0px 0px 200px #fff0);

  transition: scale 1s, filter .6s;
}

.floatingSword:hover {
  scale: 1.2;
  filter: drop-shadow(0px 0px 4px #fff);
}

@keyframes floating {
  0%, 100% {
    transform: translateY(-.4rem);
  }
  50% {
    transform: translateY(.4rem);
  }
}

@keyframes wobble {
  0%, 100% {
    rotate: -8deg;
  }
  50% {
    rotate: 8deg;
  }
}